<div class="bg">
<div class="container-full" data-container="true">
    <div class="container-fluid" data-container="true">
        <div class="row component-holder">
            <div class="col-xs-12 col-sm-3 col-lg-4" data-container="true"></div>
            <div class="col-xs-12 col-sm-6 col-lg-4 login-panel login-view" data-container="true">
                <form class="form-validation" autocomplete="off" name="form" ng-submit="login()" role="form">
                    <input type="hidden" name="csrf_token" value="CIwNZNlR4XbisJF39I8yWnWX9wX4WFoz" />
                    <div class="text-danger wrapper text-center" ng-show="authError"></div>
                    <div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-image" id="crn-image-823921">
                        <h1>
                            <img alt="Login" src="node_modules/cronapp-framework-js/img/cronapp-logo-login.png" class="" style="display:block; width:60%; height:auto; margin-left:auto; margin-right:auto;" xattr-position="margin-left:auto; margin-right:auto;" data-component="crn-image">
                        </h1>
                    </div>
                    <div class="col-xs-10 col-md-8 col-md-push-2 col-xs-push-1" data-container="true">
                        <ul class="list-inline center-block text-center">
                        </ul>
                    </div>
                                        <div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-textinput" id="crn-textinput-283724">
                        <div class="form-group">
                            <label for="input7274">{{'Login.view.Username' | translate}}</label>
                            <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="username.value" class="form-control k-textbox" id="input7274" placeholder="" autocomplete="username" autocorrect="off" autocapitalize="off">
                        </div>
                    </div>
                    <div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-textinput" id="crn-textinput-343947">
                        <div class="form-group">
                            <label for="input9836">{{'Login.view.Password' | translate}}</label>
                            <input type="password" mask="" mask-placeholder="" ng-required="false" ng-model="password.value" class="form-control k-textbox" id="input9836" autocomplete="current-password" placeholder="">
                        </div>
                    </div>
                    <div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-enterprise-checkbox" id="crn-enterprise-checkbox-889238">
                    </div>
                    <div class="component-holder ng-binding ng-scope col-md-12" data-component="crn-button">
                        <div class="messages">
                            <div ng-show="message.error" class="help-block" data-container="true">
                                {{message.error}}
                            </div>
                        </div>
                        <button role="button" aria-label="{{'Login.view.Login' | translate}}" class="btn btn-default col-md-12 col-xs-12 k-button btn-primary" type="submit" ng-disabled="form.$invalid || vm.dataLoading" ng-click="" xattr-size="" xattr-fullsize="" xattr-theme="btn-default" xattr-disabled="" data-component="crn-button">
                            <span>{{"Login.view.Login" | translate}} </span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12 col-sm-12 col-lg-12" data-component="crn-button" id="crn-button-846239"></div>
            <div class="col-xs-12 col-sm-3 col-lg-4" data-container="true"></div>
        </div>
    </div>
</div>
</div>