<ion-view class="pane" role="region">
  <ion-header-bar role="heading" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item" data-component="crn-header-button" id="crn-header-button-1">
      <button aria-labelledby="left_navicon_sr" class="button button-clear component-holder" menu-toggle="left">
        <i class="icon ion-navicon"></i>
        <span id="left_navicon_sr" class="sr-only">{{'Accessibility.Button.Aria.Label.NavIcon' | translate}}</span>
      </button>
    </div>
    <h1 class="title" align-title="text-align: center;" style="text-align: center; left: 40px; right: 40px;">{{'Home.view.Home' | translate }}</h1>
    <div aria-labelledby="right_navicon_sr" class="buttons buttons-right header-item" data-component="crn-header-button"
      id="crn-header-button-2">
      <button class="button button-clear component-holder" menu-toggle="right">
        <i class="icon ion-navicon"></i>
        <span id="right_navicon_sr" class="sr-only">{{'Accessibility.Button.Aria.Label.NavIcon' | translate}}</span>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="scroll-content has-header" data-component="crn-ion-content">
  </ion-content>
</ion-view>