{
  "app": {
    "guid": "2ce35ea4-aad3-4539-98ca-915d280199a2",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.cronappnogithub",
    "artifactId": "io.cronapp.apps.cronappnogithub"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "MmNlMzVlYTQtYWFkMy00NTM5LTk4Y2EtOTE1ZDI4MDE5OWEy",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.cronappnogithub",
      "backend": "true",
      "theme": "Material",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "xframeOptions": "SameOrigin"
}