<ion-view class="pane" role="region">
    <ion-content data-container="true" data-component="crn-ion-content" class="scroll-content menu-view">
        <ion-list class=" disable-user-behavior list">
            <!-- Menu -->
            <div class="component-holder" data-component="crn-navbar" id="menu-blue">
                <div class="nav navbar-nav">
                    <cron-mobile-menu class="component-holder" data-component="crn-mobile-menu" options="{&quot;escope&quot;:&quot;MOBILE&quot;,&quot;subMenuOptions&quot;:[{&quot;id&quot;:&quot;1iynakho2n6lu&quot;,&quot;name&quot;:&quot;Home&quot;,&quot;title&quot;:&quot;{{ 'Home.view.Home' | translate }}&quot;,&quot;iconClass&quot;:&quot;icon ion-home&quot;,&quot;action&quot;:&quot;cronapi.screen.changeView('#/app/public/home', [])&quot;,&quot;level&quot;:1,&quot;textPosition&quot;:&quot;left&quot;,&quot;imagePosition&quot;:&quot;left&quot;,&quot;contentTheme&quot;:&quot;light&quot;,&quot;iconTheme&quot;:&quot;light&quot;,&quot;menuItems&quot;:[]}]}">
                        Dynamic Menu
                    </cron-mobile-menu>
                </div>
            </div>
            <!-- Menu -->
        </ion-list>
    </ion-content>
</ion-view>